* {
    box-sizing: border-box;
    display: grid;
    place-items: center;
    font-family: sans-serif;
}

.form {
    display: grid;
    width: 350px;
    padding: 1rem;

    border: 10px;
    border-style: solid;
    border-image-slice: 1;
    border-width: 5px;

    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.name-p {
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    width: 200px;
}

.email-p {
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    width: 200px;
}

#select1 {
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    width: 200px;
}

#select2 {
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    width: 200px;
}

.message-p {
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    width: 200px;
}

.text-area {
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    resize: vertical;
    width: 200px;
}

h1 {
    font-size: 40px;
    background: -webkit-linear-gradient(rgb(107, 182, 236), rgb(223, 123, 251));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-button {
    margin: 5px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 150px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
    text-decoration: none;
    border: 0;
}

.gradient-button-4 {
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%)
}

.gradient-button-4:hover {
    background-position: right center;
}